.friendList {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    margin: auto;
    padding: 25px 0;
    border-top: none;
}

.item {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(1, 0.5, 0.5, 0.8);
}

.online {
    border-radius: 50%;
    background-color: green;
    width: 15px;
    height: 15px;
    margin: 5px;
}

.offline {
    border-radius: 50%;
    background-color: red;
    width: 15px;
    height: 15px;
    margin: 10px;
}

.avatar {
    margin-left: 10px;
}

.name {
    margin-left: 20px;
    font-weight: 600;
    font-size: 24px;
}